<nav class="navbar navbar-expand navbar-custom">
  <div class="container">

    <a class="navbar-brand">
      Calls System
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto">

        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" routerLink="/admin-dashboard">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" routerLink="/calls/list">
            <i class="fas fa-database"></i> Calls
          </a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" routerLink="/staff/list">
            <i class="fas fa-user-cog"></i> Staff
          </a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" routerLink="/clients/list">
            <i class="fas fa-address-book"></i> Clients
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>