<div class="call-form">

	<div *ngIf="call">
		<h2>Call Details: {{ call.id }}</h2>
		<div class="form-row">
			<div class="form-group">
				<label>ID:</label>
				<p>{{ call.id }}</p>
			</div>
			<div class="form-group">
				<label>Category:</label>
				<p>{{ call.fcat === 'HDW' ? 'Hardware' : call.fcat === 'SOF' ? 'Software' : call.fcat }}</p>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group">
				<label>Client:</label>
				<p>{{ client.id }}: {{ client.custName }}</p>
			</div>
			<div class="form-group">
				<label>Staff:</label>
				<p>{{ staff.id }}: {{ staff.firstName }} {{ staff.lastName }}</p>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group">
				<label>Request Date:</label>
				<p>{{ call.reqDate | date: 'yyyy-MM-dd' }}</p>
			</div>
			<div class="form-group">
				<label>Request Time:</label>
				<p>{{ call.reqTime }}</p>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group">
				<label>Response Date:</label>
				<p>{{ call.respDate ? (call.respDate | date: 'yyyy-MM-dd') : '-' }}</p>
			</div>
			<div class="form-group">
				<label>Response Time:</label>
				<p>{{ call.respTime || '-' }}</p>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group">
				<label>Time Arrived:</label>
				<p>{{ call.timeArrive || '-' }}</p>
			</div>
			<div class="form-group">
				<label>Time Left:</label>
				<p>{{ call.timeLeft || '-' }}</p>
			</div>
		</div>

		<!-- Normal Remarks -->
		<div class="form-group" *ngIf="(call.rem1 || call.rem2 || call.rem3 || call.rem4); else noNormalRemarks">
			<label>Remarks:</label>
			<ul>
				<li *ngIf="call.rem1">{{ call.rem1 }}</li>
				<li *ngIf="call.rem2">{{ call.rem2 }}</li>
				<li *ngIf="call.rem3">{{ call.rem3 }}</li>
				<li *ngIf="call.rem4">{{ call.rem4 }}</li>
			</ul>
		</div>
		<ng-template #noNormalRemarks>
			<div class="form-group">
			  <label>- No Remarks</label>
			</div>
			  </ng-template>
		<!-- Additional Remarks -->
		<div class="form-group" *ngIf="(call.actRem1 || call.actRem2 || call.actRem3 || call.actRem4); else noAdditionalRemarks">
			<label>Additional Remarks:</label>
			<ul>
				<li *ngIf="call.actRem1">{{ call.actRem1 }}</li>
				<li *ngIf="call.actRem2">{{ call.actRem2 }}</li>
				<li *ngIf="call.actRem3">{{ call.actRem3 }}</li>
				<li *ngIf="call.actRem4">{{ call.actRem4 }}</li>
			</ul>
		</div>
		<ng-template #noAdditionalRemarks>
			<div class="form-group">
			  <label>- No Additional Remarks</label>
			</div>
			  </ng-template>

		<div class="actions">
			<button *ngIf="isCallOpen()" (click)="followUpCall()" class="btn btn-secondary">Follow Up</button>
			<button (click)="printCall()" class="btn btn-secondary">Print</button>
			<button (click)="goBack()" class="btn btn-secondary">Back</button>
		</div>

	</div>

</div>