<div class="call-form">
  <h2>Add Call</h2>
  <form (ngSubmit)="onSubmit()" #callForm="ngForm">

    <div class="form-row">
      <div class="form-row">
        <label for="id">ID:</label>
        <input type="number" id="id" required [(ngModel)]="call.id" name="id" #id="ngModel" />
      </div>
      <div class="form-row">
        <label for="fcat">Category:</label>
        <select id="fcat" required [(ngModel)]="call.fcat" name="fcat">
          <option value="HDW">Hardware</option>
          <option value="SOF">Software</option>
        </select>
      </div>
      
    </div>

    <div class="form-row">
      <div class="form-row">
        <label for="ccode">Client ID:</label>
        <select id="ccode" required [(ngModel)]="call.ccode" name="ccode">
          <option *ngFor="let client of clientsList" [value]="client.id">
            {{ client.id }}: {{ client.custName }}
          </option>
        </select>
      </div>
      <div class="form-row">
        <label for="ecode">Staff ID:</label>
        <select id="ecode" required [(ngModel)]="call.ecode" name="ecode">
          <option *ngFor="let staff of staffList" [value]="staff.id">
            {{ staff.id }} - {{ staff.firstName }} {{ staff.lastName }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-row">
        <label for="reqDate">Request Date:</label>
        <input type="date" id="reqDate" required [(ngModel)]="call.reqDate" name="reqDate" #reqDate="ngModel" />
      </div>
      <div class="form-row">
        <label for="reqTime">Request Time:</label>
        <input type="time" id="reqTime" required [(ngModel)]="call.reqTime" name="reqTime" #reqTime="ngModel" />
      </div>
    </div>



    <div class="form-row">
      <label for="rem1">Remark 1:</label>
      <input type="text" id="rem1" required [(ngModel)]="call.rem1" name="rem1" />
    </div>

    <div class="form-row">
      <label for="rem2">Remark 2:</label>
      <input type="text" id="rem2" [(ngModel)]="call.rem2" name="rem2" />
    </div>

    <div class="form-row">
      <label for="rem3">Remark 3:</label>
      <input type="text" id="rem3" [(ngModel)]="call.rem3" name="rem3" />
    </div>

    <div class="form-row">
      <label for="rem4">Remark 4:</label>
      <input type="text" id="rem4" [(ngModel)]="call.rem4" name="rem4" />
    </div>

    <div class="actions">
      <button (click)="goBack()" class="btn btn-secondary">Back</button>
      <button type="submit" class="btn btn-secondary">Add & Print</button>
      <button (click)="preparePrintSection()" class="btn btn-secondary">Print</button>
    </div>

  </form>

  <!-- Success and fail message alert -->
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>

<div id="print-section" class="print-template">
  <!-- <h1>Call Report</h1> -->
  <p>Call ID: {{ call.id }}</p>
  <p>Category: {{ call.fcat }}</p>
  <p>Client ID: {{ call.ccode }}</p>
  <p>Staff ID: {{ call.ecode }}</p>
  <p>Request Date: {{ call.reqDate }}</p>
  <p>Request Time: {{ call.reqTime }}</p>
  <p>Remark 1: {{ call.rem1 }}</p>
  <p>Remark 2: {{ call.rem2 }}</p>
  <p>Remark 3: {{ call.rem3 }}</p>
  <p>Remark 4: {{ call.rem4 }}</p>
  
</div>