.client-form {
  width: 45%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin-top: 2%;
}

.client-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.client-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.client-form div {
  margin-bottom: 8px;
}

.client-form label {
  display: block;
  font-weight: bold;
  color: #555;
}

.client-form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #e9ecef;

}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}

.form-row div {
  flex: 1;
  margin-right: 15px;
}

.form-row div:last-child {
  margin-right: 0;
}

.form-row-check {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row-check label {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}

.form-row-check input[type="checkbox"] {
  margin-right: 10px;
  /* Adjust spacing between checkbox and label text */
  vertical-align: middle;
}

#vatCash,
#vatStatus {
  width: min-content;
  margin-left: 5px;
}

label {
  white-space: nowrap;
  margin: 0;
}

#id {
  width: 20%;
  text-align: center;
}

.form-group {
  margin-left: 5px;
  margin-right: 5px;
}

.actions {
  margin-top: 15px;
}