<div class="client-form">
  <div *ngIf="client">
    <h2>View Client: {{ client.id }}</h2>
    <div class="form-group">
      <label for="id">ID: </label>
      <p id="id">{{ client.id }}</p>
    </div>

    <div class="form-row">

      <div class="form-group">
        <label for="custName">Client Name:</label>
        <p>{{ client.custName }}</p>
      </div>

      <div class="form-group">
        <label for="cvlCode">Civil Code:</label>
        <p>{{ client.cvlCode }}: {{ getCvlCodeName(client.cvlCode) }}</p>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group">
        <label for="cntrCode">Country:</label>
        <p>{{ getCountryName(client.cntrCode) }}</p>
      </div>

      <div class="form-group">
        <label for="regCode">Region:</label>
        <p>{{ getRegionName(client.regCode) }}</p>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="fax">Fax:</label>
        <p>{{ client.fax || '-' }}</p>
      </div>
      <div>
        <label for="email">Email:</label>
        <p>{{ client.email || '-' }}</p>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group">
        <label for="tel1">Telephone 1:</label>
        <p>{{ client.tel1 || '-' }}</p>
      </div>

      <div class="form-group">
        <label for="tel2">Telephone 2:</label>
        <p>{{ client.tel2 || '-' }}</p>
      </div>

      <div class="form-group">
        <label for="tel3">Telephone 3:</label>
        <p>{{ client.tel3 || '-' }}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="contact">Contact:</label>
      <p>{{ client.contact || '-' }}</p>
    </div>

    <div class="form-group">
      <label for="address1">Address 1:</label>
      <p>{{ client.address1 || '-' }}</p>
    </div>

    <div class="form-group">
      <label for="address2">Address 2:</label>
      <p>{{ client.address2 || '-' }}</p>
    </div>

    <div class="form-group1">
      <label for="vatStatus">VAT Status:</label>
      <span class="value">{{ client.vatStatus ? 'Yes' : 'No' }}</span>
    </div>

    <div class="form-group1">
      <label for="vatCash">VAT Cash:</label>
      <span class="value">{{ client.vatCash ? 'Yes' : 'No' }}</span>
    </div>
    
    <div class="form-group1">
      <label for="status">Status:</label>
      <span class="value">{{ client.status ? 'Active' : 'Inactive' }}</span>
    </div>


    <div class="actions">
      <button (click)="editClient()" class="btn btn-secondary">Edit</button>
      <button (click)="goBack()" class="btn btn-secondary">Back</button>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>