<div class="staff-form">

  
  <form (ngSubmit)="onSubmit()" #staffForm="ngForm">
    <h2>Edit Staff: {{ staff.id }}</h2>
    <div class="form-group">
      <label for="id">ID: </label>
      <input type="text" id="id" required [(ngModel)]="staff.id" name="id" #id="ngModel" readonly />
    </div>
    <div class="form-group">
      <label for="cvlCode">Civil Code:</label>
      <select id="cvlCode" required [(ngModel)]="staff.cvlCode" name="cvlCode">
        <option value="1">1: Mr.</option>
        <option value="2">2: Mrs.</option>
        <option value="3">3: Dr.</option>
        <option value="4">4: None</option>
      </select>
    </div>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" required [(ngModel)]="staff.firstName" name="firstName" />
    </div>
    <div class="form-group">
      <label for="middleName">Middle Name:</label>
      <input type="text" id="middleName" [(ngModel)]="staff.middleName" name="middleName" />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" required [(ngModel)]="staff.lastName" name="lastName" />
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" [(ngModel)]="staff.title" name="title" />
    </div>
    
    <div class="form-group">
      <label for="dptCode">Department Code:</label>
      <select id="dptCode" required [(ngModel)]="staff.dptCode" name="dptCode">
        <option value="AC">AC: Accounting</option>
        <option value="AD">AD: Administration</option>
        <option value="HW">HW: Hardware Maintenance</option>
        <option value="SW">SW: Software Maintenance</option>
      </select>
    </div>

    <div class="form-row-check">
      <label for="status"><input type="checkbox" id="status" [(ngModel)]="staff.status" name="status"/>
        Status</label>
    </div>

    <div class="actions">
      <button type="submit">Save</button>
      <button (click)="goBack()" class="btn btn-secondary">Cancel</button>
    </div>
  </form>
  <!-- Success and fail message alert -->
  <div *ngIf="successMessage" class="success-popup">
    <button class="close-popup" (click)="closeSuccessPopup()">&times;</button>
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>