<div class="container staff-container">
  <h2 class="page-title">Staff Dashboard</h2>
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search Staff"
      [(ngModel)]="searchQuery"
      
      (input)="onSearch()"
    />
  </div>

  <!-- Filter and Add Button Row -->
  <div class="filter-row">
    <!-- Department Filter -->
    <div class="filter-options">
      <label for="departmentFilter" class="filter-label">Department:</label>
      <select id="departmentFilter" [(ngModel)]="selectedDepartment" (change)="applyFilters($event.target.value)">
        <option *ngFor="let key of departmentKeys" [value]="key">{{ departmentMap[key] }}</option>
      </select>
      <button (click)="clearFilters()" class="btn btn-clear">Clear Filters</button>
    </div>

    <!-- Add Staff Button -->
    
      <button (click)="addStaff()" class="btn btn-add">Add Staff</button>
    
  </div>


  <!-- Staff Table -->
  <div class="staff-table-container">
    <table class="staff-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Title</th>
          <th>Department</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let staff of staffList; let i = index" [ngClass]="{'striped': i % 2 === 0}">
          <td>{{ staff.id }}</td>
          <td>{{ getCivilName(staff.cvlCode) }} {{ staff.firstName }} {{ staff.middleName }} {{ staff.lastName }}</td>
          <td>{{ staff.title }}</td>
          <td>{{ getDepartmentName(staff.dptCode) }}</td>
          <td>
            <div class="actions">
              <button (click)="editStaff(staff)" class="btn-action" title="Edit">
                <i class="fas fa-edit"></i>
              </button>
              <button (click)="viewStaff(staff)" class="btn-action" title="View">
                <i class="fas fa-eye"></i>
              </button>
              <button (click)="confirmDelete(staff.id)" class="btn-action" title="Delete">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>