<div class="staff-form">

  <div *ngIf="staff">
    <h2>Staff Details: {{ staff.id }}</h2>

    <div class="form-group">
      <label for="id">ID: </label>
      <input type="text" id="id" required [(ngModel)]="staff.id" name="id" #id="ngModel" readonly />
    </div>
    <div class="form-group">
      <label for="cvlCode">Civil Code:</label>
      <input type="text" id="cvlCode" [value]="getCivilCode(staff.cvlCode)" name="cvlCode" readonly />
    </div>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" required [(ngModel)]="staff.firstName" name="firstName" readonly />
    </div>
    <div class="form-group">
      <label for="middleName">Middle Name:</label>
      <input type="text" id="middleName" [(ngModel)]="staff.middleName" name="middleName" readonly />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" required [(ngModel)]="staff.lastName" name="lastName" readonly />
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" [(ngModel)]="staff.title" name="title" readonly />
    </div>

    <div class="form-group">
      <label for="dptCode">Department Code:</label>
      <input type="text" id="dptCode" [value]="getDepartmentName(staff.dptCode)" name="dptCode" readonly />
    </div>

    <div class="actions">
      <button (click)="editStaff()" class="btn btn-secondary">Edit</button>
      <button (click)="goBack()" class="btn btn-secondary">Back</button>
    </div>
    
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>