<div class="staff-form">

  <div *ngIf="staff">
    <h2>Staff Details: {{ staff.id }}</h2>

    <div class="form-group">
      <label for="id">ID: </label>
      <p id="id">{{ staff.id }}</p>
    </div>
    <div class="form-group">
      <label for="cvlCode">Civil Code:</label>
      <p id="cvlCode">{{ getCivilCode(staff.cvlCode) }}</p>
    </div>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <p>{{ staff.firstName || '-'}}</p>
    </div>
    <div class="form-group">
      <label for="middleName">Middle Name:</label>
      <p>{{ staff.middleName || '-'}}</p>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <p>{{ staff.lastName || '-'}}</p>
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <p>{{ staff.title || '-'}}</p>
    </div>

    <div class="form-group">
      <label for="dptCode">Department:</label>
      <p>{{ getDepartmentName(staff.dptCode) }}</p>
    </div>

    <div class="form-group1">
      <label for="status">Status:</label>
      <span class="value">{{ staff.status ? 'Active' : 'Inactive' }}</span>
    </div>

    <div class="actions">
      <button (click)="editStaff()" class="btn btn-secondary">Edit</button>
      <button (click)="goBack()" class="btn btn-secondary">Back</button>
    </div>

  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>